.blogContainer{

}
.blog{
    padding: 2em 4%;
}
.blogHeading{
font-weight: bold;
font-size: 2.8rem;
/* width: 100%; */
max-width: 90%;
margin-bottom: 12px;
}
.blogHeading::selection{
    background-color: blue;
    color: white;
}
.date{
color: gray;
font-size: 1.6rem;
font-weight: 600;
margin-bottom: 12px;
}

.author{
font-size: 2rem;
font-weight: bold;
}
.author>span{
    font-weight: 600;
    margin-left: 7px;
}

.blogContent{
margin-top: 22px;
font-weight: 600;
font-size: 2rem;
line-height: 2.2;
}

.blogContent::selection{
    background-color: blue;
    color: white;
}

/* media queries */

@media screen and (max-width:600px) {
    .blogHeading{
        font-size: 2.3rem;
        width: 100%;
        margin-bottom: 12px;
        color: rgb(19, 18, 18);
    }
    .blogContent{
        font-size: 1.5rem;
        line-height: 2.3;
        }
    .author{
        font-size: 1.5rem;
    }
}